@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color:rgb(0, 37, 53);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 35px;
    box-shadow: 5px 5px 5px rgb(241, 229, 241);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.nav-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-left>img {
    width: 60px;
    height: 60px;
}

.nav-left p {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right a {
    margin-right: 5px;
    padding: 10px;
    text-decoration: transparent;
    color: rgb(255, 255, 255);
    transition: text-decoration 1s ease-in-out, letter-spacing 0.50s ease-in-out;
}

.nav-right a:hover {
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-shadow: 1px 1px 20px wheat;
    text-decoration: underline;
    text-underline-offset: 10px;
    letter-spacing: 1px;
}

.banner {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("images/images1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.banner-right img {
    width: 250px;
}

.banner-left h2 {
    font-size: 33px;
    font-weight: 400;
}

.banner-left h6 {
    font-size: 18px;
    margin-bottom: 40px;
}

.banner-left h6>span {
    color: rgb(234, 135, 21);
}

.banner-left-name {
    font-size: 50px;
    position: relative;
    white-space: nowrap;
    color: transparent;
}

.banner-btn {
    width: 150px;
    height: 50px;
    padding: 10px 15px;
    background-color: rgb(65, 160, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 2px 5px 5px rgb(174, 210, 252);
    transition: background-color 0.5s ease-in-out;
}

.banner-btn:hover {
    border: 2px solid rgb(156, 68, 0);
    background-color: white;
    cursor: pointer;
}

.banner-icon a {
    color: black;
}

.banner-icon {
    width: 120px;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about {
    text-align: center;
    margin: 10px 50px;
}

.about h1 {
    font-size: 45px;
    text-decoration: transparent;
    margin-bottom: 20px;
    transition: text-decoration 1s ease-in-out;
}

.about h1:hover {
    text-decoration: underline overline;
    text-underline-offset: 12px;
    text-decoration-thickness: 2px;
}

.about h1>span {
    color: rgb(234, 135, 21);
}

.skills {
    margin: 40px 200px;

}

.skills h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}

.skills-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
}

.skills-card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
    border: transparent;
    transition: border 1s ease-in-out;
}

.skills-card div:hover {
    border: 2px solid tan;
    cursor: pointer;
}

.skills-card img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.skills-card h2 {
    margin-bottom: 10px;
    color: rgb(94, 1, 1);
}

@media only screen and (max-width: 688px) {

    .nav {
        width: 100vw;
        padding: 0;
    }

    .nav-left p {
        font-size: 4vw;
    }

    .nav-left img {
        width: 10vw;
        height: 8vh;
    }

    .nav-right a {
        padding: 2vw;
        font-size: 3vw;
    }

    .banner {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 10vw;
        margin: 0 5vw;
    }

    .banner-left {
        text-align: center;
    }

    .banner-left-name {
        font-size: 6vw;
    }

    .banner-right img {
        width: 25vw;
    }

    .banner-btn {
    }

    .skills {
        margin-left: 2vw;
        margin-right: 2vw;
    }

    .skills-card {
        grid-template-columns: 1fr;
        row-gap: 6vh;
    }

} 
  div.transbox {
    margin: 30px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #ffffff;
  }

  * {
    box-sizing: border-box;
  }
  

  .container {
    padding: 16px;
    background-color: white;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  a {
    color: dodgerblue;
  }
  
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }
